@import "../../common/scss/index";

.home {
  padding-top: 60px;
  line-height: 20px;
  text-align: center;
}

.hint {
  padding: 240px 0 300px;
  background: $primaryColor;
}

.hint__title {
  display: block;
  margin-bottom: 20px;
  color: $primaryColorText;
  cursor: default;
  font-size: $fontSizeBiggest;
  line-height: 60px;
  @include forbid-select();
}

.hint__text {
  display: block;
  color: $primaryColorText;
  cursor: default;
  font-size: $fontSizeBig;
  line-height: 28px;
  @include forbid-select();
}

.hint__btn-wrapper {
  margin-top: 50px;
  padding: 0;
  font-size: 0;
}

.hint__btn {
  display: inline-block;
  width: 20%;
  min-width: 85px;
  max-width: 220px;
  height: 50px;
  margin: 0 10px;
  background: $primaryColorText;
  border-radius: 2px;
  color: $primaryColor;
  cursor: pointer;
  font-size: $fontSizeBigger;
  line-height: 50px;
  @include forbid-select();
}

.hint__btn:hover {
  background: #fff;
}

.desc {
  background: $primaryColorText;
  text-align: left;
}


.desc__text {
  max-width: 700px;
  margin: 0 auto;
  padding: 70px 25px;
  color: $primaryTextColor;
  font-size: $fontSizeBigger;
  line-height: 28px;
}

.entry {
  width: 100%;
  padding: 70px 0;
  background: $primaryColor;
}

.entry-inner {
  display: flex;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.entry__item {
  flex: 1;
  cursor: pointer;
}

.entry__item-title {
  display: block;
  margin-top: 20px;
  color: $primaryColorText;
  font-size: $fontSizeBigger;
  line-height: 28px;
}
