@import "../../common/scss/index";

.header {
  position: fixed;
  width: 100%;
  height: 60px;
  padding: 0 30px;
  background-color: $primaryColor;
  @include box-sizing(border-box);
}

.header-inner {
  position: relative;
}

.header__logo {
  display: inline-block;
  height: 60px;
  margin-right: 25px;
  color: $primaryColorText;
  cursor: pointer;
  font-size: $fontSizeBiggest;
  line-height: 60px;
  @include forbid-select();
}

.header__btn-wrapper {
  display: inline-block;
  color: $primaryColorText;
  font-size: $fontSizeBig;
  vertical-align: top;
}

.header__btn-wrapper:last-child {
  position: absolute;
  right: 0px;
}

.header__btn {
  height: 60px;
  padding: 0 10px;
  cursor: pointer;
  line-height: 60px;
  @include forbid-select();
}

.header__btn:hover {
  border-bottom: 2px solid $primaryColorText;
  @include box-sizing(border-box);
}
